<app-menu></app-menu>

<div class="container">
    <div class="box">
        <h2>QUIEN SOY YO</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
            <div class="col" align="center">
                <div style="width: 100%;margin-bottom: 6px;margin-top: 5px;" align="start">
                    <img style="border-radius: 20%;border: 2px solid black;" src="../../../assets/img/quienSoy/perfil.png" height="280px" width="auto">
                </div>
            </div>
            <p style="font-size: 18px;font-weight: bold;letter-spacing: 1px;">Nombre Completo: Jhossymar Balderrama Rocha</p> 
        </div>


        <p>
        Lorem ipsum dolor sit amet. Aut officia accusantium aut sunt quaenon aliquam sed enim omnis. Et exercitationem molestiae qui impedit repellat eum galisum placeat ut ducimus perferendis! Qui omnis quam ut iure quia et repellat debitis sed deleniti Quis aut dolor odit. Eos consequuntur dolores sed odit ipsam eos ipsa aliquid ut doloremque architecto et voluptates enim!

        Qui vero laudantium Hic officia hic odio quia a blanditiis nulla et voluptatum libero At deserunt doloribus! Eum voluptas dolorum Id numquam aut dolorum amet et quia temporibus id corporis quia sit officia deleniti! Sit repellendus necessitatibus vel odio enim est voluptates galisum ut nesciunt sequi et sunt blanditiis.

        Ut ducimus porro non quisquam nihil Aut nemo qui dolorem omnis ut culpa nihil At voluptatem officia et voluptatem rerum. Et quia necessitatibusnon aliquam sit maiores iure.
        </p>

        <h3>Mi juego - Black-Jack</h3>
        <div style="width: 100%;margin-bottom: 5px;margin-top: 5px;" align="center">
            <img style="border-radius: 5%;" src="../../../assets/img/juegos/black jack/BlackJack.png" height="400px" width="auto">
        </div>
        <p>
            El objetivo de este juego es conseguir una puntuación superior a la del sistema sin exceder de 21 puntos, donde las personas participantes juegan contra el casino. Se denomina Black Jack al obtener la suma de 21 puntos con las primeras cartas.
        </p>
    </div>	
</div>

