<div class="menu">
    <div *ngIf="this.screenDesktop">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div style="text-align: start;" >
                <a routerLink="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="margin-right: 2em;cursor: pointer;">      
                    <img src="../../../favicon.ico" height="65px">
                </a>
            </div>
        
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a class="nav-link px-2 text-secondary item-menu" routerLink="/home"> Home</a>
                </li>       
        
                <li class="dropdown"><a class="nav-link px-2 text-white">Juegos</a>
                    <div class="dropdown-content">
                      <a routerLink="/juegos/ahorcado">Ahorcado</a>
                      <a routerLink="/juegos/mayor-menor">Mayor o Menor</a>
                      <a routerLink="/juegos/preguntados">Preguntados</a>
                      <a routerLink="/juegos/black-jack">Black Jack</a>
                      <a routerLink="/juegos/listado">Listado Resultados</a>
                    </div>
                </li>
        
                <li>
                    <a class="nav-link px-2 text-white item-menu" routerLink="/chat">Chats</a>
                </li>
        
                <li>
                    <a class="nav-link px-2 text-white item-menu" routerLink="/encuesta">Encuesta</a>
                </li>

                <li>
                    <a class="nav-link px-2 text-white item-menu" routerLink="/quienSoy">Quien Soy</a>
                </li>
                
            </ul>
        
            <a style="color: white;opacity: 50%;padding-right: 15px;">¡Bienvenido {{this.usuarioLogin.correo}}!</a>
            <button type="button" class="btn button" routerLink="/login">Cerrar Sesion</button>      
        </nav>
    </div>
      

    <div *ngIf="!this.screenDesktop">

        <div style="width: 100%;">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
                <div class="col" align="start" style="left: 0;top: 0;width: 50%;">
                    <a routerLink="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" style="margin-right: 2em;cursor: pointer;">      
                        <img src="../../../favicon.ico" height="65px">
                    </a>
                </div>

                <div class="col" style="padding-top: 15px;width: 50%;padding-left: 80px;" align="end">
                    <button class="offcanvas-hamburguer" (click)="openEnd(content)">
                        <div></div>
                        <div></div>
                        <div></div>
                    </button>
                </div>
            </div>
        </div>

    
        <ng-template #content let-offcanvas>
            <div class="offcanvas-header">
                <h4 class="offcanvas-title">Menu - sala de juegos</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
            </div>
            <div class="offcanvas-body">
                <div class="offcanvas-buttons" routerLink="/home" (click)="offcanvas.close('Close click')">Home</div>

                <div class="offcanvas-buttons" routerLink="" (click)="offcanvas.close('Close click')">Juegos</div>

                <div class="offcanvas-buttons" routerLink="/chat" (click)="offcanvas.close('Close click')">Chats</div>

                <div class="offcanvas-buttons" routerLink="/quienSoy" (click)="offcanvas.close('Close click')">Quien Soy</div>
                
                <div class="offcanvas-buttons" routerLink="/login" (click)="offcanvas.close('Close click')">Cerrar Sesion</div>
            </div>
        </ng-template>
    </div>
</div>

