<app-menu></app-menu>

<div class="container">
    <div class="box">        

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
            <div class="col" align="center">
                <h1>BLACK JACK</h1>                             
                <h2>PUNTOS</h2>
                <h1>{{this.puntosSistema}} | {{this.puntosMios}}</h1>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">

            <div class="col" align="start">
                <h4>Sistema</h4>
                <div class="sistemaCard">
                    <img *ngIf="this.imagenesCartasSistema.length == 0" [src]="cartaSistema.img" height="216px" width="140px">

                    <div *ngIf="this.imagenesCartasSistema.length != 0">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
                            <div *ngFor="let item of this.imagenesCartasSistema">
                                <div class="col">
                                    <img src="{{item}}" height="216px" width="140px"> 
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="puntos">Suma Cartas: {{this.sumaCartasSistema}}</div>
            </div>

            <div class="col" align="end">

                <h4>Tú</h4>
                <div class="tuCard">
                    <img *ngIf="this.imagenesCartasMias.length == 0" [src]="cartaMia.img" height="216px" width="140px">
                    
                    <div *ngIf="this.imagenesCartasMias.length != 0">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">
                            <div *ngFor="let item of this.imagenesCartasMias">
                                <div class="col">
                                    <img src="{{item}}" height="216px" width="140px"> 
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="puntos">Suma Cartas: {{this.sumaCartasMias}}</div>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 botones" align="center">

            <div class="col">
                <button class="button" (click)="iniciarJuego()"
                    [disabled] = 'this.inicioJuego'>
                    Iniciar Juego
                </button>
                <button class="button" (click)="reiniciar()" style="margin-top:20px;">Reiniciar</button>
            </div>

            <div class="col">
                <button class="button" style="background-color: green;"
                (click)="pidoCarta()" [disabled] = 'this.meQuedo'>
                    Pedir Otra
                </button>
            </div>

            <div class="col">
                <button class="button" style="background-color: red;"
                (click)="quedarme()" [disabled] = 'this.meQuedo'
                >
                    Quedarse
                </button>
            </div>

        </div>      
    </div>	
</div>

