<app-menu></app-menu>

<div class="container">

    <div class="box">  
        <!-- <div *ngFor="let palabra of this.pListaPalabrasAPI.body[0].Related">
            {{palabra.Word}}
            <br>
        </div> -->

        <div align="center" style="font-weight: bold;color: black;">
            <h2>AHORCADO</h2>
            <h3>"La palabra tiene {{this.generandoPalabra.length}} Letras"</h3>            
        </div>

        <div id="ahorcado">
            <img *ngIf="this.fallos == 0" src="../../../../assets/img/juegos/ahorcado/base.png" height="450px">

            <img *ngIf="this.fallos == 1" src="../../../../assets/img/juegos/ahorcado/cabeza.png" height="450px">

            <img *ngIf="this.fallos == 2" src="../../../../assets/img/juegos/ahorcado/cuerpo.png" height="450px">

            <img *ngIf="this.fallos == 3" src="../../../../assets/img/juegos/ahorcado/brazo1.png" height="450px">

            <img *ngIf="this.fallos == 4" src="../../../../assets/img/juegos/ahorcado/brazo2.png" height="450px">

            <img *ngIf="this.fallos == 5" src="../../../../assets/img/juegos/ahorcado/pie1.png" height="450px">

            <img *ngIf="this.fallos == 6" src="../../../../assets/img/juegos/ahorcado/pie2.png" height="450px">
        </div>
        
        <div class="teclado" align="center">
            <h3  class="palabra" style="margin-right: auto; margin-left: auto;">
                {{this.generandoPalabra}}
            </h3>

            <button class="btn btn-outline-dark m-1" style="margin-right: 10px;" *ngFor="let letra of this.teclado" (click)="clickTecla(letra)" [disabled] = 'this.disabled'>                
                {{letra}}
            </button>            
        </div> 

        <div align="center" style="margin-top: 10px;">
            <button class="button" (click)="reiniciar()">reiniciar juego</button>
        </div>

    </div>	

    
</div>

