<app-menu></app-menu>

<div class="container">

    <div class="box">     

        <div align="end" style="font-weight: bold;color: black;">
            <h4>Puntos: {{this.puntosGame}}</h4>                    
        </div>

        <div align="center" style="font-weight: bold;color: black;">
            <h1>AHORCADO</h1>
            <h2>"La palabra tiene {{this.generandoPalabra.length}} Letras"</h2>         
            <h2 *ngIf="this.disabled && this.fallos == 6">Tu palabra era: {{this.palabra}}</h2>         
        </div>

        <div id="ahorcado">
            <img [src]="this.imagesAhorcado" alt="" class="imgAhorcado">
        </div>
        
        <div class="teclado" align="center">
            <h3  class="palabra" style="margin-right: auto; margin-left: auto;">
                {{this.generandoPalabra}}
            </h3>

            <button class="btn btn-outline-dark m-1" style="margin-right: 10px;" *ngFor="let letra of this.teclado" (click)="clickTecla(letra)" [disabled] = 'this.disabled'>                
                {{letra}}
            </button>            
        </div> 

        <div align="center" style="margin-top: 10px;">
            <button class="button" (click)="reiniciar()">reiniciar juego</button>
        </div>

    </div>	

    
</div>

