.background{
	width: 100%;
	height: auto;
	
	background: url("../assets/img/backgroundRetro3.jpg")
	 no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}