<app-menu></app-menu>

<div class="container">
    <div class="box">   

        <!-- Puntaje -->
        <div style="width: 100%;">  
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2" align="center">
                <div class="col"> 
                    <div align="start" style="font-weight: bold;color: black;">
                        <h4>Puntos: {{this.puntosGame}}</h4>                    
                    </div>
                </div>
                <div class="col"> 
                    <div align="end" style="font-weight: bold;color: black;">
                        <h4>Fallos: {{this.fallosGame}}/3</h4>                    
                    </div>
                </div>
            </div>                     
        </div>

        <!-- Preguntados -->
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1" align="center">
            <div class="col">
                <h1>Preguntados - Los Simpsons</h1>
                <h2 *ngIf="this.habilitado && this.fallosGame != this.fallosTotalesDelJuego">
                    ¿Como se llama este Personaje?
                </h2>
                <h2 *ngIf="!this.habilitado && this.fallosGame != this.fallosTotalesDelJuego">
                    Buscando personaje...
                </h2>
                <h2 *ngIf="this.fallosGame == this.fallosTotalesDelJuego">Ups perdiste...</h2>
                <div class="preguntados"  style="margin-top: 15px;">
                    <img *ngIf="this.fallosGame != this.fallosTotalesDelJuego" 
                    [src]="this.personajeIMG" height="260px" width="auto">

                    <img *ngIf="this.fallosGame == this.fallosTotalesDelJuego"
                    [src]="this.problemasTecnicosIMG" height="260px" width="auto">
                </div>                
            </div>
        </div>

        <!-- Botones -->
        <div *ngIf="this.fallosGame != 3">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4" style="margin-top: 15px;">            
                <div class="col" align="center">
                    <button class="btn btn-dark btn-opciones" (click)="this.compararOpcion(this.listOpciones[0])" [disabled] = 'this.botonesHabilitados'>                       
                        <a *ngIf="!this.habilitado"> . . . </a>
                        <a *ngIf="this.habilitado">{{this.listOpciones[0]}}</a>                    
                    </button>
                </div>            
                    
                <div class="col" align="center">
                    <button class="btn btn-dark btn-opciones" (click)="this.compararOpcion(this.listOpciones[1])" [disabled] = 'this.botonesHabilitados'>
                        <a *ngIf="!this.habilitado"> . . . </a>
                        <a *ngIf="this.habilitado">{{this.listOpciones[1]}}</a>  
                    </button>
                </div>

                <div class="col" align="center">
                    <button class="btn btn-dark btn-opciones" (click)="this.compararOpcion(this.listOpciones[2])" [disabled] = 'this.botonesHabilitados'>
                        <a *ngIf="!this.habilitado"> . . . </a>
                        <a *ngIf="this.habilitado">{{this.listOpciones[2]}}</a>  
                    </button>
                </div>

                <div class="col" align="center">
                    <button class="btn btn-dark btn-opciones" (click)="this.compararOpcion(this.listOpciones[3])" [disabled] = 'this.botonesHabilitados'>
                        <a *ngIf="!this.habilitado"> . . . </a>
                        <a *ngIf="this.habilitado">{{this.listOpciones[3]}}</a>  
                    </button>
                </div> 
            </div>
        </div>
        
        <div *ngIf="this.fallosGame == 3">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1" style="margin-top: 15px;">
                <div class="col" align="center">
                    <button class="btn btn-dark btn-opciones" (click)="this.reinicioPartida()">
                        <a>Reiniciar Juego</a>                       
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
