<app-menu></app-menu>

<div class="container">
    <div class="box">

        <div align="end" style="font-weight: bold;color: black;">
            <h4>Fallos: {{this.fallosGame}}/3</h4>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
            <div class="col" align="center">
                <h1>PUNTOS</h1>
                <h1>{{this.puntosMios}}</h1>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2">

            <div class="col" align="start">
                <h4>Sistema</h4>
                <div class="sistemaCard">
                    <img [src]="cartaSistema.img" height="216px" width="140px">
                </div>
            </div>

            <div class="col" align="end">

                <h4>Tú</h4>
                <div class="tuCard">
                    <img [src]="cartaMia.img" height="216px" width="140px">
                </div>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 botones" align="center">

            <div class="col">
                <button class="button" (click)="iniciarJuego()" [disabled]='this.disabledIniciarJuego'>Iniciar
                    Juego</button>
                
            </div>

            <div class="col">
                <button class="button" (click)="compracionMayorMenor('mayor')"
                    [disabled]='this.disabledMayorMenor' style="background-color: green;">Mayor</button>
            </div>

            <div class="col">
                <button class="button" (click)="compracionMayorMenor('menor')"
                    [disabled]='this.disabledMayorMenor' style="background-color: red;">Menor</button>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 botones" align="center">
            <div class="col">
                <button *ngIf="this.reiniciarGame" class="button" (click)="reiniciar()">Reiniciar Juego</button>
            </div>
        </div>
    </div>
</div>